<div data-role="view" data-title="Details" data-model="app.dataListView1.dataListView1Model" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem.Id" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
        </div>
    </header>


    <!-- START_CUSTOM_CODE_dataListView1Model -->
    <!-- END_CUSTOM_CODE_dataListView1Model -->
</div>